* {
    padding: 0;
    margin: 0;
    background-color: #31efe7;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2a003f;
}
body {
    width: 1050px;
    margin: 0 auto;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 160px;
    background-color: #2a003f;
}
#naslov {
    color: #fae62d;
    background-color: #2a003f;
    text-align: center;
    position: relative;
    bottom: 100px;
    font-size: 40px;
}
article {
    background: url("pozadina.gif");
    background-position: center;
    width: 100%;
    height: 2100px;
}
.osoba {
    color: #2b4f60;
    position: relative;
    width: 30%;
    border: 3px solid #31efe7;
    border-radius: 20px;
    z-index: 2;
}
.osoba h1 {
    text-align: center;
    border-radius: 20px; 
}
.slika {
    height: 370px;
    padding: 2px;
    background-color: #31efe7;
    border-radius: 20px;
}
.slika img {
    width: 100%;
    border-radius: 20px;
}
.hidden1 {
    height: 400px;
    position: relative;
    bottom: 410px;
    width: 60%;
    left: 300px;
    background-color: #31efe7;
    z-index: -1;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.tekst1 {
    position: relative;
    width: 85%;
    left: 50px;
    top: 40px;
    font-size: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #2a003f;
    font-weight: bold;
}
.tekst1 p {
    padding-bottom: 45px;
}
.osoba:hover + .hidden1 {
    z-index: 0;
}
.osoba2 {
    width: 30%;
    color: #2b4f60;
    position: relative;
    border: 3px solid #31efe7;
    border-radius: 20px;
    z-index: 2;
    left: 70%;
    bottom: 300px;
}
.osoba2 h1 {
    text-align: center;
    border-radius: 20px; 
}
.hidden2 {
    height: 400px;
    position: relative;
    bottom: 705px;
    left: 130px;
    width: 60%;
    background-color: #31efe7;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    z-index: -1;
}
.tekst2 {
    position: relative;
    width: 85%;
    left: 40px;
    top: 40px;
    font-size: 25px;
    color: #2a003f;
    font-weight: bold;
    text-align: right;
}
.tekst2 p {
    padding-bottom: 45px;
}

.osoba2:hover + .hidden2 {
    z-index: 0;
}
.osoba3 {
    color: #2b4f60;
    position: relative;
    width: 30%;
    border: 3px solid #31efe7;
    border-radius: 20px;
    z-index: 2;
    bottom: 600px;
}
.osoba3 h1 {
    text-align: center;
    border-radius: 20px; 
}
.tekst3 {
    position: relative;
    width: 85%;
    left: 50px;
    top: 40px;
    font-size: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: #2a003f;
    font-weight: bold;
}
.hidden3 {
    height: 400px;
    position: relative;
    bottom: 1010px;
    width: 60%;
    left: 300px;
    background-color: #31efe7;
    z-index: -1;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.tekst3 p {
    padding-bottom: 45px;
}
.osoba3:hover + .hidden3 {
    z-index: 0;
}
.osoba4 {
    width: 30%;
    color: #2b4f60;
    position: relative;
    border: 3px solid #31efe7;
    border-radius: 20px;
    z-index: 2;
    left: 70%;
    bottom: 950px;
}
.osoba4 h1 {
    text-align: center;
    border-radius: 20px; 
}
.hidden4 {
    height: 400px;
    position: relative;
    bottom: 1355px;
    left: 130px;
    width: 60%;
    background-color: #31efe7;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    z-index: -1;
}
.tekst4 {
    position: relative;
    width: 85%;
    left: 40px;
    top: 40px;
    font-size: 25px;
    color: #2a003f;
    font-weight: bold;
    text-align: right;
}
.tekst4 p {
    padding-bottom: 45px;
}
.osoba4:hover + .hidden4 {
    z-index: 0;
}
footer {
    position: relative;
    right: 80px;
    text-align: center;
    padding: 3px;
    width: 1200px;
    color: white;
    border-style: solid;
    border-radius: 15px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: #31efe7;
    background-color: #2a003f;
  }

  footer p {
      background-color: #2a003f;
      color: #31efe7;
  }
  footer a {
    background-color: #2a003f;
    color: #31efe7;
  }
